/* Kolory do wykorzystania wygenerowane na podstawie tła zajawki

Kolor 1 - rgb(13,1,12) hex 0D010C
Kolor 2 - rgb(245,179,126) hex F5B37E
Kolor 3 - rgb(242,142,103) hex F28E67
Kolor 4 - rgb(165,107,81) hex A56B51
Kolor 5 - rgb(86,46,37) hex 562E25

Adres do profilu i podglądu na Adobe.
https://color.adobe.com/pl/Kolorystyka-strony-color-theme-10064343/

 */

/*dopasowanie strony do okna przeglądarki + reset narzuconych marginesów */

html, body {
    height: 100%;
    margin: 0px;
}

/*reset ustawień domyślnych dla wszystkich elementów HTML */

* {
    margin: 0;
    padding: 0;
    border: 0;
    line-height: 1.4em;
    vertical-align: baseline;
    text-decoration: none;
    outline: 0;
}

/* FZ7NI-5 ZAJAWKA jako header - START */

@font-face {
    font-family: 'Track';
    src: url('../fonts/Track.ttf');
    font-family: 'Track Italic';
    src: url('../fonts/Track Italic.ttf');
    font-family: 'Slabo27px-Regular';
    src: url('../fonts/Slabo27px-Regular.ttf');
    font-family: 'RiseofKingdom';
    src: url('../fonts/RiseofKingdom.ttf');

}

header {
    margin: 0px auto;
    width: 100%;
    height: 100%;
    display: block;
    background: url(../img/zajawka_tlo.jpg) no-repeat center;
    background-size: cover;
    font-family: "Slabo27px-Regular";
    position: static;
}

.slogan {
    display: inline-block;
    width: 100%;
    max-height: inherit;
    margin: 14em auto;
    text-align: center;
    background-color: rgba(86,46,37,0.9);
    position: absolute;
    color: rgb(240,234,210);
    padding: 0.3em 0;
}

.slogan h1 {
    font-size: 4em;
}

#logo_zaj {
    margin: 0 auto;
}

#logo_zaj img {
    width: 25%;
    height: 8%;
}

.slogan ul {
    list-style: none;
}

.slogan li {
    margin-left: 15em;
    text-align: left;
    font-size: 1.4em;
}

#zajawka_li2 {
    text-indent: 2em;
}

#zajawka_li3 {
    text-indent: 4em;
}

#link_formularz {
    width: 15em;
    height: 4.5em;
    display: block;
    position: absolute;
    margin: 45em 43%;
    background-color: rgba(86,46,37,0.9);
    border-radius: 1em;

}

#link_formularz img {
    width: 90%;
    height: 90%;
    margin: 0.2em 0.8em;
}


/* FZ7NI-5 ZAJAWKA jako header - KONIEC */

.functionality {
    width: 40%;
}
.column {
    float: left;
    width: 50%;
}
.column:after {
    content: '';
    display: table;
    clear: both;
}
.imgTitle {
    text-align: center;
}
.imgText {
    text-align: justify;
}